apiVersion: v1
kind: Service
metadata:
  name: predictive-maintenance-service
  labels:
    app: predictive-maintenance-api
spec:
  selector:
    app: predictive-maintenance-api
  ports:
    - name: http
      port: 80
      targetPort: 8000
