apiVersion: apps/v1
kind: Deployment
metadata:
  name: predictive-maintenance-api
  labels:
    app: predictive-maintenance-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: predictive-maintenance-api
  template:
    metadata:
      labels:
        app: predictive-maintenance-api
    spec:
      containers:
      - name: api
        image: adityagupta20/predictive-maintenance-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "512Mi"