apiVersion: v1
kind: Service
metadata:
  name: predictive-maintenance-service
spec:
  selector:
    app: predictive-maintenance-api
  type: LoadBalancer
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8000